---
import MainLayout from '@/layouts/Main.astro'

import profile from '@/assets/profile.jpg'
---

<MainLayout>
  <div id="container">
    <div id="content">
      <p>
        Donkó Eszter vagyok, jelenleg időm nagy részét Budaörs utcáin és
        játszóteren töltöm egy két és fél éves kisfiú után futva. Az anyaság
        mellett nagyon fontos számomra, hogy mindig legyen valamilyen kretív
        saját projektem. Jelenleg épp a családi mesekönyvünket szerkesztem, de
        szívesen tervezek és nyomtatok 3D-s okosságokat otthonunkba, vagy
        forrasztok meg rossznak vélt hangkábeleket. Mindenért tudok lelkesedni,
        főleg ha van kivel elkezdeni, menni és csinálni.
      </p>
      <p>
        A BME Építészmérnök karán végeztem, ahol teljesen magával ragadott az
        építészlét sokszínűsége. Érdeklődve követem az itthoni szakmai híreket,
        szívesen tanulok a virtuális térben történő újdonságokról és szívom
        magamba a minket körülvevő épületekről, helyekről szóló tudást és
        történeteke.
      </p>
    </div>
    <img src={profile.src} />
  </div>
</MainLayout>

<style>
  div#container {
    max-width: 1200px;
    height: 100%;

    box-sizing: border-box;

    margin: auto;
    padding: 64px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'text image';
    gap: 128px;
  }

  div#content {
    grid-area: text;

    text-align: center;
    align-self: center;
  }

  img {
    grid-area: image;

    width: 100%;

    align-self: center;
  }

  @media (max-width: 900px) {
    div#container {
      grid-template-columns: 1fr;
      grid-template-areas:
        'image'
        'text';
      gap: 24px;
    }
  }
</style>
