---
import PageLayout from '@/layouts/Page.astro'
---

<PageLayout>
  //Családi mesekönyvünk
  <p>
    Kisfiam születésének hírére, Nagyapi nekiállt megírni a család fontosabb
    plüssállatainak történeteit, én pedig belevetettem magam a
    karaktertervezésbe és illusztrálásba. 2024 karácsonyán pedig már együtt
    lapozhatták az unokák az első családi mesekönyvünket.
  </p>

  //3d nyomtatás
  <p>
    Bár a férjem hatására került 3d nyomtató a háztartásunkba, mára már van,
    hogy én használom többet. :)
  </p>

  //festés, varrás, polotervek
  <p>
    A kézművesség kiskoromtól az életem részét képzi. A varrás, horgolás, festés
    mind-mind olyan dolog, ami kikapcsol és még másoknak is örömet tudok
    szerezni vele.
  </p>

  //sport
  <p>
    Lovaglás, vívás, falmászás, túrázás, síelés, tollas... épp mikor mi
    illeszhető bele az életembe. Mozogni mindenesetre nagyon szeretek!
  </p>

  //honlap
  <p>
    Szeretek tanulni és új dolgokat kipróbálni. A férjem révén pedig olyan
    dolgokba is bele merek kezdeni, ami egyedül túl nagy falat lenne. Az első
    honlap készítési kísérletem a Batári Design építésziroda honlapja volt és ez
    a portfólió pedig egy újabb kísérlet.
  </p>
</PageLayout>
