---
import PageLayout from '@/layouts/Page.astro'

import nepiep1 from '@/assets/photos/nepiep1.jpg'
---

<PageLayout>
  <div id="planContainer">
    <div class="plan">
      <div class="slide">
        <h2 id="tanoda">Budaörsi Tanoda - Diplomamunka, 2022</h2>
        <p>
          Budaörs a főváros agglomerációjában található egyik legfejlettebb
          település. Történelme az 1200-as évekre nyúlik vissza. Az 1700-as
          években a Zichy grófok sváb telepeseket hívtak ide. A sváb hatás még
          ma is érezhető a városon. Az elmúlt évtizedek/évszázadok alatt is
          folyamatos átalakuláson ment keresztül a település. A lakosság
          összetétele, a város területhasználata is megváltozott, kiterjedt.
          Mára a 2. leggazdagabb Budapesten kívüli településsé nőtte ki magát.
          Rengetek lehetőség, program, szervezet található itt. Véleményem
          szerint Budaörsön sok erős mikroközösség van jelen, melyek szervezik,
          alakítják városuk életét. Ezen közösségek egyik nagy csoportja az
          oktatási intézmények köré épül. Öt általános iskola és két gimnázium
          látja el ezt a funkciót. Ezek mellett két zeneiskola, különböző
          sportágakkal foglalkozó egyesületek és szakkörök kötik le a fiatalok
          energiáit.
        </p>
      </div>

      <div class="slide">
        <p>
          Az épületem célközönsége alapvetően a budaörsi diákság (10-20 éves
          kor). Egy olyan közösségi - szabadidő lekötésére és tanulásra is
          alkalmas - helyet szeretnék létrehozni, ahol a csellengő, hátrányos
          helyzetű tinédzserek vannak fókuszban. Úgy gondolom, hogy Budaörsön
          arra is lenne lehetőség, hogy ez a „tanoda”, ne a megszokott
          tanár-diák rendszerben működjön, hanem az egyetemi öntevékeny körök/
          cserkészet/ budaörsi Illyéses szakkörök mintájára diákok taníthatnának
          diákokat. Az 5-6 állandó tanár munkatárs a stabil hátteret, a
          felügyeletet és egyfajta keretet biztosítana.
        </p>
      </div>

      <div class="slide">
        <p>
          A tervezés helyszíne a jelenlegi tanodával szemben található telek,
          melyre a város is mint egy fejlesztési lehetőség tekint. Ez a terület
          az egyik legkönnyebben elérhető helyek közé sorolható, a főút mellett
          található. Északról sétáló utcás közösségi térhez kapcsolódik, délről
          pedig egy parkolósáv védi az autóforgalomtól. Ez a városi tömb
          hosszházas épületekkel volt beépítve, de mára ez a rendszer dél felé
          zártsorú beépítéssé egészült ki. Az én épületem ezekhez a beépítési
          struktúrákhoz kíván igazodni. Az épület egy kétszintes nyeregtetős
          ház, melyhez egy nagyobb kert is kapcsolódik. Az alsó szint a
          közösségi tereké, a felső pedig a tanulásra fókuszál. Fontos szempont
          az átlátások biztosítása, hogy mind a tanárok, mind a diákok
          megtalálják egymást. Az épület teret biztosít egyéni és kiscsoportos
          foglalkozások, családi napok, szakkörök, néptánc és népzenei programok
          számára. A nyár során a kerten lesz a fő hangsúly. Táboroztatásnak,
          vagy csak a szabad játéknak is ez lehet a tere.
        </p>
      </div>

      <div class="slide">
        <p>
          A középfőfalas hosszházas épület falazata 50-es Porotherm
          falazóblokkból készül hőszigetelés nélkül, téglaporos vakolattal. A
          tető cserépfedéses nyeregtető. A lábazat is vörös műkő. Így alkot az
          épület homogén tömeget. A bejáratnál megjelennek a közösség által
          alkotott mozaikdarabok. Ennek már hagyománya van a városban, több
          épületen, körforgalomban is megjelenik egy-egy ilyen közösségi
          alkotás. Ezzel az akcióval az emberek figyelmét is a tanoda felé
          lehetne irányítani. A régi elbontandó épület mészkő falazata a
          kerítésben él tovább.
        </p>
      </div>
    </div>

    <div class="plan">
      <div class="slide">
        <h2 id="furdohaz">Monor fürdőház, 2021</h2>
        <p>
          A monori Tabán telep központjában található telekegyüttest a terület
          köztereként kívánom hasznosítani. Cél a munkahelyteremtés, az
          életszínvonal emelése és hogy hiánypótló közösségi funkciók tudják
          megvetni itt a lábukat, ezzel is segítve a közösség megerősödését.
        </p>
        <p>
          Tervem három fő pillérre támaszkodik. A fürdőházra, mely jelenleg egy
          komoly probléma tüneti kezeléseként jön létre, egy kisbolt, mely
          szintén hiánypótló funkció ebben a térségbe és maga a közösségi tér,
          ami kulturált keretet képes adni a találkozásra, beszélgetésekre,
          sportra, piacra és más efféle programra.
        </p>
      </div>
      <div class="slide" style={{ textAlign: 'center' }}>
        <img src={nepiep1.src} style={{ height: '100%' }} />
      </div>
    </div>

    <div class="plan">
      <div class="slide">
        <h2 id="TDK">Természetesen, jelenlét a megtörtségben - TDK, 2020</h2>
        <p>
          Természetközeli helyszínünk a Budai hegyekben, a Mária zarándokút, a
          Filmarchívum üzemi épülete és az egyre sűrűsödő zöld keresztezi. Az
          emelvényre helyezett épület a városi nyüsgéstől, zajtól való
          elemelkedést sugallja.
        </p>
        <p>
          A tervezett rámpa tövében, az utcához kapcsolódó kis megálló és
          vízvételi pont jelezni, hogy itt mindenkit szívesen látnak. Támfalak
          betonból készülnek melyhez kirekesztésnek a Pilisvörösváron található
          köfejtőböl lehetne hulladék kőanyaghoz jutni. A szükséges zsaluzat
          faanyaga a későbbiekben burkolatokhoz és tartószerkezetekhez is
          felhasználható maradna. Egy közösségi nap keretén belül fák és bokrok
          ültetésével egyrészt jelet lehetne hagyni a kápolnát csak az utcáról
          szemlélőknek, másrészt a növényzettel korlát képezhető. Így
          későbbiekben a kert biztognságosabban belakhatóvá és hasztnálhatóvá
          válna.
        </p>
        <p>
          Minden egyes feladatnál felmerül az arányosság kérdése, hogy mennyi
          építéssel, anyagi ráfordítással és szociális tevékenységgel tehető
          jobbá adott környezet, úgy, hogy ne legyen túlzó, hahem a helyiek
          számára szerethető, elfogadható.
        </p>
      </div>
    </div>
  </div>
</PageLayout>

<style>
  :root {
    --plan-height: 256px;
    /*               (full  - header - (     plan        * pad)) / 2 */
    --plan-gap: calc((100vh - 48px - (var(--plan-height) * 1.1)) / 2);
  }

  #planContainer {
    display: flex;
    flex-direction: column;

    gap: var(--plan-gap);
    padding: var(--plan-gap) 0;
  }

  .plan {
    position: relative;

    min-height: var(--plan-height);
    max-height: calc((100vh - 48px) * 0.8);

    padding: 5%;
    /* border: 2px solid black; */
    background-color: rgb(203 206 199);

    scroll-snap-align: center;

    overflow: auto;

    display: flex;
    gap: 10%;

    scroll-snap-type: x mandatory;
  }

  .slide {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }
</style>
