---
import logo from '@/assets/logo.png'
---

<header>
  <svg id="drawerButton" viewBox="0 0 24 24">
    <path d="M4 6h16M4 12h16M4 18h16"></path>
  </svg>
  <a href="/"><img src={logo.src} /></a>
  <nav>
    <ul>
      <li><a href="/bemutatkozas">Bemutatkozás</a></li>
      <li><a href="/tanulmanyok">Tanulmányok</a></li>
      <li><a href="/tanulmanyok#elismeresek">Elismerések</a></li>
      <li>
        <details>
          <summary>Tervek</summary>
          <ul>
            <li><a href="/tervek#tanoda">Tanoda</a></li>
            <li><a href="/tervek#furdohaz">Fürdőház</a></li>
            <li><a href="/tervek#TDK">TDK</a></li>
          </ul>
        </details>
      </li>
      <li><a href="/kitekintes">Kitekintés</a></li>
      <li><a href="/kapcsolat">Kapcsolat</a></li>
    </ul>
  </nav>
</header>

<script>
  document.body.addEventListener('click', (e) => {
    ;[...document.querySelectorAll('nav details')]
      .filter((d) => d !== e.target.parentElement)
      .forEach((d) => (d.open = false))
  })

  document.getElementById('drawerButton').addEventListener('click', () => {
    document.querySelector('nav').classList.toggle('open')
  })

  document.querySelectorAll('nav a').forEach((a) =>
    a.addEventListener('click', () => {
      document.querySelector('nav').classList.remove('open')
    }),
  )
</script>

<style>
  header {
    /* position: sticky; */
    /* top: 0px; */

    height: 48px;

    padding: 8px;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 8px;

    background-color: var(--header-color);

    z-index: 1;
  }

  img {
    height: 32px;
  }

  nav {
    margin-left: auto;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav > ul {
    display: flex;
    /* align-items: center; TODO: Is this really necessary? No, it's not... */
    gap: 8px;

    list-style: none;
  }

  li > a,
  summary {
    display: block;
    padding: 8px;
    cursor: pointer;

    border-radius: 4px;
  }

  li > a:hover,
  summary:hover {
    background-color: color-mix(
      in oklab,
      var(--background-color) 25%,
      transparent
    );
  }

  a {
    text-decoration: unset;
    color: unset;
  }

  summary::marker {
    content: '';
  }

  summary::after {
    --base-rotation: 225deg;

    content: '';

    display: inline-block;
    width: 6px;
    height: 6px;

    margin-top: -2px;
    margin-left: 6px;
    margin-right: 6px;

    translate: 0px -4px;
    rotate: var(--base-rotation);
    transition:
      rotate 0.25s,
      translate 0.25s;

    box-shadow: inset 1px 1px;
  }

  details[open] > summary::after {
    translate: 0px -2px;
    rotate: calc(var(--base-rotation) - 180deg);
  }

  details > ul {
    position: absolute;
    background-color: var(--header-color);
    border-radius: 4px;
  }

  #drawerButton {
    width: 32px;
    height: 32px;

    padding: 8px;

    cursor: pointer;

    stroke: var(--primary-color);
    stroke-width: 2px;
  }

  /*
   * TODO: This will break at exactly 900px.
   * Usually one would have `display: none` globally and unset it in the
   * `max-width` case, but I'd like to find a cleaner way to avoid that
   * duplication. One possibility would be to set the `min-width` at 901px,
   * but I didn't like that either... (`max-width` at 899px sounds a bit better)
   * Can't use CSS variables here either...
   */
  @media (min-width: 900px) {
    #drawerButton {
      display: none;
    }
  }

  @media (max-width: 900px) {
    nav {
      position: fixed;
      top: 64px;
      left: 0;

      background-color: var(--header-color);

      visibility: hidden;
    }

    nav.open {
      visibility: visible;
    }

    nav > ul {
      flex-direction: column;
    }
  }
</style>
