---
import logo from '@/assets/logo.png'
---

<header>
  <a href="/"><img src={logo.src} /></a>
  <nav>
    <ul>
      <li><a href="/bemutatkozas">Bemutatkozás</a></li>
      <li><a href="/tanulmanyok">Tanulmányok</a></li>
      <li><a href="/tanulmanyok#elismeresek">Elismerések</a></li>
      <li>
        <details>
          <summary>Tervek</summary>
          <ul>
            <li><a href="/tervek#tanoda">Tanoda</a></li>
            <li><a href="/tervek#furdohaz">Fürdőház</a></li>
            <li><a href="/tervek#TDK">TDK</a></li>
          </ul>
        </details>
      </li>
      <li><a href="/kitekintes">Kitekintés</a></li>
      <li><a href="/kapcsolat">Kapcsolat</a></li>
    </ul>
  </nav>
</header>

<script>
  document.body.addEventListener('click', () => {
    document.querySelectorAll('details').forEach((d) => (d.open = false))
  })
</script>

<style>
  header {
    /* position: sticky; */
    /* top: 0px; */

    height: 48px;

    padding: 8px;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    background-color: var(--header-color);
  }

  img {
    height: 32px;
  }

  nav {
    margin-left: auto;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  nav > ul {
    display: flex;
    /* align-items: center; TODO: Is this really necessary? No, it's not... */
    gap: 8px;

    list-style: none;
  }

  li > a,
  summary {
    display: block;
    padding: 8px;
    cursor: pointer;

    border-radius: 4px;
  }

  li > a:hover,
  summary:hover {
    background-color: color-mix(
      in oklab,
      var(--background-color) 25%,
      transparent
    );
  }

  a {
    text-decoration: unset;
    color: unset;
  }

  summary::marker {
    content: '';
  }

  summary::after {
    --base-rotation: 225deg;

    content: '';

    display: inline-block;
    width: 6px;
    height: 6px;

    margin-top: -2px;
    margin-left: 6px;
    margin-right: 6px;

    translate: 0px -4px;
    rotate: var(--base-rotation);
    transition:
      rotate 0.25s,
      translate 0.25s;

    box-shadow: inset 1px 1px;
  }

  details[open] > summary::after {
    translate: 0px -2px;
    rotate: calc(var(--base-rotation) - 180deg);
  }

  details > ul {
    position: absolute;
    background-color: var(--header-color);
    border-radius: 4px;
    z-index: 1;
  }
</style>
